html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
}
main {
	width: 1170px;
}
.headline {
	font-size: 2.1rem;
	font-weight: bold;
	margin: 2.5rem 0 2rem 0;
}
.container {
	margin: 0 auto;
}
.check-icon {
	width: 2.9rem;
	height: 2.6rem;
	margin: 0 1.5rem 0 1.5rem;
}
p {
	font-size: 1.3rem;
	padding: 2rem;
}
.p24-logo {
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
	margin: 2rem 0;
}
.cennik24-logo {
	width: 12.6rem;
	height: 2.5rem;
	margin-right: 4rem;
}
.quick-payments div {
	margin: 2.5rem 0;
	p {
		padding: 0 6rem;
	}
}
.installments {
	margin: 6rem 0;
	.p24now {
		text-align: center;
	}
	.p24-graph {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.p24-installments-advantages {
		img {
			width: 3.7rem;
			height: 5.4rem;
		}
		.advantage {
			h4 {
				margin-bottom: 1.5rem;
				padding: 0 6rem;
			}
			p {
				padding: 0 6rem;
			}
		}
	}
	h4 {
		font-weight: bold;
		font-size: 2.1rem;
	}
}
.payment-flow {
	img {
		width: 100%;
		margin-bottom: 2.5rem;
	}
	p {
		margin: 2.5rem 0 2rem 0;
	}
}
.payment-process {
	.payment-schema-horizont {
		display: none;
	}
}

/*DESKTOP*/
@media (min-width: 576px) {
	.container {
		p {
			font-size: 1.6rem;
			margin-left: 4rem;
		}
	}
	.title {
		padding: 0;
		text-align: left;
	}
	.p24-logo {
		text-align: right;
		margin-bottom: 4rem;
	}
	.container .info-one,
	.container .info-two {
		font-size: 1.9rem;
	}
	.container .info-one {
		margin-left: 0;
	}
	.payments-method-content {
		.transfers {
			margin-top: 7rem;
		}
		p {
			margin-left: 4rem;
		}
	}
	.quick-payments {
		display: flex;
		margin-top: 5rem;
		h4 {
			margin-top: 2.5rem;
			font-weight: bold;
		}
		p {
			margin: 0;
		}
	}
	.quick-transfer img {
		height: 6.2rem;
	}
	.installments {
		.p24-graph {
			width: 82rem;
			height: 47rem;
		}
	}
	.p24-installments-advantages {
		h3 {
			margin-top: 7rem;
		}
		h4 {
			font-weight: bold;
			margin-top: 2.5rem;
		}
		.advantages {
			display: flex;
			margin-top: 5.5rem;
			p {
				padding: 0 6rem;
				margin: 0;
			}
		}
		.advantages .advantage-two img {
			width: 6.2rem;
			height: 5.2rem;
		}
		.advantages .advantage-three img {
			width: 3.5rem;
			height: 4.7rem;
		}
	}
	.payment-process {
		.payment-schema {
			display: none;
		}
		p {
			margin: 7rem 0;
		}
	}

	.payment-process {
		display: flex;
		justify-content: center;
		.payment-schema-horizont {
			display: block;
			width: 82rem;
			height: 27.6rem;
		}
	}
	.payment-flow {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 3rem;
	}
	.flow-content {
		margin: 5rem 0;
		font-size: 6rem;
	}
	.payment-flow img {
		width: 646px;
		height: 713px;
	}
}
.info-two {
	margin: 5rem 0;
}
